/movie_data.npy
/movie_testing_data.npy
/movie_training_data.npy
/movie-model.h5
/movie-weight-fold1.h5
/movie-weight-fold2.h5
/movie-weight-fold3.h5
/movie-weight-fold4.h5
/movie-weight-fold5.h5
/movie-weight-fold6.h5
/movie-weight-fold7.h5
/movie-weight-fold8.h5
/movie-weight-fold9.h5
/movie-weight-fold10.h5
