/Hockey_fights
/Peliculas
/raw
/hockey_data_for_movie_model.npy
/movie_data.npy
/movie_testing_data.npy
/movie_training_data.npy
/movie-model-255.h5
/movie-model-fold1.h5
/movie-model-fold2.h5
/movie-model-fold3.h5
/movie-model-fold4.h5
/movie-model-fold5.h5
/movie-model-fold6.h5
/movie-model-fold7.h5
/movie-model-fold8.h5
/movie-model-fold9.h5
/movie-model-fold10.h5
/movie-model.h5
/movie-weight-fold10.h5
/raw_data_for_movie_model.npy
/logs
/Test_Hockey
/Test_movie
/Test_Raw
/movie-model-sigmoid-main.h5
/movie-model-softmax.h5
/movie-model-softmax2.h5